<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>List</key>
	<array>
		<dict>
			<key>name</key>
			<string>中国工商银行</string>
			<key>number</key>
			<string>102100099996</string>
		</dict>
		<dict>
			<key>name</key>
			<string>中国农业银行</string>
			<key>number</key>
			<string>103100000026</string>
		</dict>
		<dict>
			<key>name</key>
			<string>中国银行</string>
			<key>number</key>
			<string>104100000004</string>
		</dict>
		<dict>
			<key>name</key>
			<string>中国建设银行</string>
			<key>number</key>
			<string>105100000017</string>
		</dict>
		<dict>
			<key>name</key>
			<string>中国农业发展银行</string>
			<key>number</key>
			<string>203100000019</string>
		</dict>
		<dict>
			<key>name</key>
			<string>交通银行</string>
			<key>number</key>
			<string>301290000007</string>
		</dict>
		<dict>
			<key>name</key>
			<string>中信银行</string>
			<key>number</key>
			<string>302100011000</string>
		</dict>
		<dict>
			<key>name</key>
			<string>中国光大银行</string>
			<key>number</key>
			<string>303100000006</string>
		</dict>
		<dict>
			<key>name</key>
			<string>华夏银行</string>
			<key>number</key>
			<string>304100040000</string>
		</dict>
		<dict>
			<key>name</key>
			<string>中国民生银行</string>
			<key>number</key>
			<string>305100000013</string>
		</dict>
		<dict>
			<key>name</key>
			<string>广发银行股份有限公司</string>
			<key>number</key>
			<string>306581000003</string>
		</dict>
		<dict>
			<key>name</key>
			<string>平安银行（原深圳发展银行）</string>
			<key>number</key>
			<string>307584007998</string>
		</dict>
		<dict>
			<key>name</key>
			<string>招商银行</string>
			<key>number</key>
			<string>308584000013</string>
		</dict>
		<dict>
			<key>name</key>
			<string>兴业银行</string>
			<key>number</key>
			<string>309391000011</string>
		</dict>
		<dict>
			<key>name</key>
			<string>上海浦东发展银行</string>
			<key>number</key>
			<string>310290000013</string>
		</dict>
		<dict>
			<key>name</key>
			<string>汇丰银行(中国)有限公司上海分行</string>
			<key>number</key>
			<string>501290000012</string>
		</dict>
	</array>
</dict>
</plist>
